google-api-python-client
pandas
scikit-learn
tensorflow
prophet
transformers
streamlit
plotly
pytest
python-dotenv
wordcloud
google-generativeai


AIzaSyBzQUEyMIzDDHzVU8o6txLO_VRP2bKHbeU


backup 
AIzaSyA7PLQByTuxJoCFasBZAjN3rB0__TboQ1k